*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
   width: auto;
   height: 100%;
}
.container{
   
    position:absolute;
    background:linear-gradient(90deg, #90ded2, #899ade);
    width:25vw;
   max-height:55vh;
    margin-left:38%;
    margin-top: 12%;
    border-radius: 5%;
}
#text{
    width: 80%;
    margin:20px;
    padding:15px;
    border-radius: 10px;
    border:none;
    outline: none;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: normal;
}
.image{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
.error{
    animation: shake  0.1s linear 10;
}
@keyframes shake{
    0%{
      transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
        100%{
            transform: translateX(0);
        }
    }
    .btn{
        display: flex;
        justify-content: center;    
        align-items: center;
    }
 button{
margin:20px;
padding:20px;
border-radius: 25px;
width:60%;
border: none;
outline: none;
}
@media screen and (max-width: 768px){
    .container{
        width: 80vw;
        margin-left: 10%;
    }
    .image{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        align-items: center;
    }
    button{
        margin:20px;
        padding:20px;
        border-radius: 25px;
        width:60%;
        border: none;
        outline: none;
        font-size: 1.5rem;
    }
    #text{
        width: 80%;
        margin:20px;
        padding:15px;
        border-radius: 10px;
        border:none;
        outline: none;
        font-weight: 900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-variant: normal;
        font-size: 1.5rem;
    }
    
}